@model List<ManagementStudent.Models.Score>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Quản lí điểm số</h1>
       
        <div class="card mb-4">
            <div class="card-header">
                @if (ViewBag.Msg != null)
                {
                    if (ViewBag.Msg == "1")
                    {
                        <div class="alert alert-success">
                            <strong>Thành công</strong>
                        </div>
                    }
                }
                
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên môn</th>
                            <th>Ngành</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                           
                        </tr>
                    </tfoot>
                    <tbody>
                        @{
                            var index = 0;
                        }
                        @foreach (var item in ViewBag.listSubject)
                        {
                            index++;
                            var idModelDel = "exampleModalDel" + item.id_subject;
                            var idEx1 = "exampleModalLabel" + item.id_subject;
                        <tr>
                            <td>@index</td>
                            <td>@item.name</td>
                            <td>@item.Majors.name</td>
                            <td style="width : 420px !important">

                                <button style="width:180px" type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#@idEx1">
                                    Nhập điểm
                                </button>
                                <button type="button" data-bs-toggle="modal" data-bs-target="#@idModelDel" style="width:180px" class="btn btn-danger"> Xem điểm</button>
                                <div class="modal fade" id="@idModelDel" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Danh sách điểm</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>

                                            <div class="modal-body">
                                                <table class="table table-bordered border-primary">
                                                    <thead>
                                                        <tr>
                                                            <th>Mã sinh viên</th>
                                                            <th>Họ tên</th>
                                                            <th>Điểm học kỳ I</th>
                                                            <th>Điểm học kỳ II</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{ var listKQ = new ManagementStudent.Repositories.ScoreRepository().getSub(item.id_subject);
                                               
                                                        }
                                                        @foreach (var kq in listKQ)
                                                        {
                                                        <tr>
                                                            <td>SV_2022_@kq.User.id_user</td>
                                                            <td>@kq.User.fullname</td>
                                                            <td>@kq.point</td>
                                                            <td>@kq.point2</td>
                                                        </tr>
                                                        }
                                                    </tbody>
                                                </table>

                                                <div class="modal-footer" style="margin-top: 20px">
                                                    <button style="width:100px" type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">
                                                        Đóng
                                                    </button>

                                                </div>



                                            </div>

                                        </div>
                                    </div>
                                </div>
                                
                                <div class="modal fade" id="@idEx1" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Nhập điểm cho sinh viên</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <form action="/Score/Add" method="post">
                                                <input type="hidden"  name="idSubject" value="@item.id_subject"/>
                                                <div class="modal-body">
                                                    <table class="table table-bordered border-primary">
                                                        <thead>
                                                            <tr>
                                                                <th>Mã sinh viên</th>
                                                                <th>Họ tên</th>
                                                                <th>Điểm học kỳ I</th>
                                                                <th>Điểm học kỳ II</th>
                                                            </tr>
                                                        </thead>
                                                      @*  code handel add score*@
                                                    <tbody>
                                                        @{ List<ManagementStudent.Models.Credit> listSV = new ManagementStudent.Repositories.CreditRepository().getSub(item.id_subject);

                                                        }

                                                        @foreach (var sv in listSV)
                                                        {
                                                            var check = new ManagementStudent.Repositories.ScoreRepository().getScoreByIdAndIdSubject(sv.User.id_user, item.id_subject);
                                                            if (check == null)
                                                            {
                                                                var nameIdUser = "idUser" + sv.User.id_user;
                                                                var namePoint1 = "point1" + sv.User.id_user;
                                                                var namePoint2 = "point2" + sv.User.id_user;
                                                                <tr>
                                                                    <td>SV_2022_@sv.User.id_user  <input type="hidden" value="@sv.User.id_user" name="@nameIdUser" /></td>
                                                                    <td>@sv.User.fullname</td>
                                                                    <td>
                                                                        <input type="number" class="form-control" value="" name="@namePoint1" min="1" max="10" tabindex="3" required>
                                                                    </td>
                                                                    <td>
                                                                        <input type="number" class="form-control" value="" name="@namePoint2" min="1" max="10" tabindex="3" required>
                                                                    </td>
                                                                </tr>
                                                            }
                                                            else
                                                            {

                                                            }

                                                        }

                                                        @*  code handel add score*@
                                                    </tbody>
                                                    </table>

                                                    <div class="modal-footer" style="margin-top: 20px">
                                                        <button style="width:100px" type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">
                                                            Đóng
                                                        </button>
                                                        <button style="width:100px" type="submit" class="btn btn-warning"
                                                                data-bs-dismiss="modal">
                                                            Nhập
                                                        </button>
                                                    </div>



                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                            


                            <!-- Modal Update-->
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</main>



