@model List<ManagementStudent.Models.Score>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Quản lí điểm số</h1>
       
        <div class="card mb-4">
            <div class="card-header">
                @if (ViewBag.Msg != null)
                {
                    if (ViewBag.Msg == "1")
                    {
                        <div class="alert alert-success">
                            <strong>Thành công</strong>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger">
                            <strong>Điểm môn học này của sinh viên đã tồn tại</strong>
                        </div>
                    }

                }
                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#exampleModalAdd">
                    Thêm mới
                </button>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>STT</th>

                            <th>Tên sinh viên</th>
                            <th>Ngành</th>
                            <th>Tên môn học </th>
                            <th>Điểm </th>
                            <th>Thang điểm </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>STT</th>
                            <th>Tên Hoc Hàm</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @{
                            var index = 0;
                        }
                        @foreach (var item in Model)
                        {
                            index++;
                            var idModelDel = "exampleModalDel" + item.id_score;
                            var idEx1 = "#exampleModalLabel" + item.id_score;
                        <tr>
                            <td>@index</td>

                            <td>@item.User.fullname</td>
                            <td>@item.User.Majors.name</td>
                            <td>@item.Subject.name</td>
                            <td>@item.point</td>
                            @if (item.point < 4)
                            {
                                <td>F</td>
                            }
                            else if (item.point < 5)
                            {
                                <td>D</td>
                            }
                            else if (item.point < 6)
                            {
                                <td>C</td>
                            }
                            else if (item.point < 7)
                            {
                                <td>B</td>
                            }
                            else if (item.point >= 8)
                            {
                                <td>A</td>
                            }

                            <td>

                                <button style="width:100px" type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="@idEx1">
                                    Sửa
                                </button>
                                <button type="button" data-bs-toggle="modal" data-bs-target="#@idModelDel" style="width:100px" class="btn btn-danger"> Xóa</button>
                                <div class="modal fade" id="@idModelDel" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Bạn chắc chắn muốn xóa ?</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>

                                            <div class="modal-body">
                                                Điểm @item.Subject.name  của sinh viên @item.User.fullname
                                                <form action="/Score/Delete" method="post">
                                                    <input type="hidden" class="form-control" id="id" name="id" value="@item.id_score">
                                                    <div class="modal-footer" style="margin-top: 20px">
                                                        <button style="width:100px" type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">
                                                            Đóng
                                                        </button>
                                                        <button style="width:100px" type="submit" class="btn btn-danger"> Xóa</button>

                                                    </div>

                                                </form>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                            var idEx = "exampleModalLabel" + item.id_score;
                    <div class="modal fade" id="@idEx" tabindex="-1"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Sửa </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form enctype="multipart/form-data" action="/Score/Update" method="post">
                                        <div class="col">

                                            <div class="col-12">
                                                <label for="category-film" class="col-form-label">Học sinh: @item.User.fullname </label>
                                                <input type="hidden" class="form-control" id="daodien" readonly name="student" value="@item.id_user " tabindex="3" required>
                                            </div>
                                            <div class="col-12">
                                                <label for="category-film" class="col-form-label">Môn học: @item.Subject.name</label>
                                                <input type="hidden" class="form-control" id="daodien" readonly name="subject" value="@item.id_subject" tabindex="3" required>
                                            </div>
                                            <div class="col-12">
                                                <label for="category-film" class="col-form-label">Điểm: <span style="color:red">* </span>:</label>
                                                <input type="number" class="form-control" id="daodien" name="point" min="1" max="10" tabindex="3" value="@item.point" required>
                                            </div>

                                        </div>


                                        <div class="modal-footer">
                                            <button style="width:100px" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                            <button style="width:100px" type="submit" class="btn btn-primary">Sửa </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                            <!-- Modal Update-->
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</main>
<!-- Modal Add-->
<div class="modal fade" id="exampleModalAdd" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" action="/Score/Add" method="post">
                    <div class="col">

                        <div class="col-12">
                            <label for="category-film" class="col-form-label">Chọn học sinh: <span style="color:red">* </span>:</label>
                            <select class="form-select" aria-label="Default select example" id="theloai" tabindex="8" name="name" required>
                                <option value="" selected>Chọn học sinh</option>
                                @foreach (var item1 in ViewBag.listStudent)
                                {
                                    <option value="@item1.id_user" >@item1.fullname</option>

                                }
                            </select>
                        </div>
                        <div class="col-12">
                            <label for="category-film" class="col-form-label">Chọn môn học: <span style="color:red">* </span>:</label>
                            <select class="form-select" aria-label="Default select example" id="theloai" tabindex="8" name="subject" required>
                                <option value="" selected>Chọn môn học</option>
                                @foreach (var item2 in ViewBag.listSubject)
                                {
                                    <option value="@item2.id_subject" >@item2.name</option>

                                }
                            </select>
                        </div>
                        <div class="col-12">
                            <label for="category-film" class="col-form-label">Điểm: <span style="color:red">* </span>:</label>
                            <input type="number" class="form-control" id="daodien" name="point" min="1" max="10"  tabindex="3" required>
                        </div>

                    </div>


                    <div class="modal-footer">
                        <button style="width:100px" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button style="width:100px" type="submit" class="btn btn-primary">Thêm </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


