
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Quản lí Sinh viên</h1>
       
        @{ var userInfomatiom = (ManagementStudent.Models.User)Session["USER"]; }
        <div class="card mb-4">
            <div class="card-header">
                @if (ViewBag.Msg != null)
                {
                    if (ViewBag.Msg == "1")
                    {
                        <div class="alert alert-success">
                            <strong>Thành công</strong>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger">
                            <strong>Sinh viên đã tồn tại</strong>
                        </div>
                    }

                }
                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#exampleModalAdd">
                    Thêm mới
                </button>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Mã sinh viên</th>
                            <th>Tên Sinh viên</th>
                            <th>Địa chỉ </th>
                            <th>Giới tính </th>
                            <th>Lớp </th>
                            <th>Ngành </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    
                    <tbody>
                        @{
                            var index = 0;
                        }
                        @foreach (var item in Model)
                        {
                            index++;
                            var idModelDel = "exampleModalDel" + item.id_user;
                            var idModelDes = "exampleModalDes" + item.id_user;
                            var idModelDel1 = "exampleModalDel1" + item.id_user;
                            var idEx1 = "#exampleModalLabel" + item.id_user;
                            <tr>
                                <td>SV_2022_@item.id_user</td>
                                <td>@item.fullname</td>
                                <td>@item.address</td>
                                @if (item.gender == 0)
                                {
                                    <td>Nữ</td>
                                }
                                else
                                {
                                    <td>Nam</td>

                                }
                                <td>@item.grade</td>
                                <td>@item.Majors.name</td>
                                <td>

                                    <button style="width:100px" type="button" class="btn btn-primary" data-bs-toggle="modal"
                                            data-bs-target="@idEx1">
                                        Sửa
                                    </button>
                                    <button type="button" data-bs-toggle="modal" data-bs-target="#@idModelDes" style="width:100px" class="btn btn-info"> Chi tiết </button>
                                    <button type="button" data-bs-toggle="modal" data-bs-target="#@idModelDel1" style="width:100px" class="btn btn-warning"> Gửi điểm </button>
                                    @if (userInfomatiom.id_role == 1)
                                    {
                                        <button type="button" data-bs-toggle="modal" data-bs-target="#@idModelDel" style="width:100px" class="btn btn-danger"> Xóa</button>

                                    }
                                    <div class="modal fade" id="@idModelDel1" tabindex="-1"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Gửi bảng điểm về phụ huynh</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>

                                                <div class="modal-body">
                                                    Sinh viên : @item.fullname
                                                    <form action="/User/Send" method="post">
                                                        <label for="category-film" class="col-form-label">Email phụ huynh: <span style="color:red"></span>:</label>
                                                        <input type="text" class="form-control" id="tenphim" name="email" tabindex="1" autofocus required>
                                                        <input type="hidden" class="form-control" id="tenphim" name="id_user" tabindex="1" value="@item.id_user" autofocus required>
                                                        <div class="modal-footer" style="margin-top: 20px">
                                                            <button style="width:100px" type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">
                                                                Đóng
                                                            </button>
                                                            <button style="width:100px" type="submit" class="btn btn-danger"> Gửi</button>

                                                        </div>

                                                    </form>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="@idModelDel" tabindex="-1"
                                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Bạn chắc chắn muốn xóa ?</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                </div>

                                                <div class="modal-body">
                                                    Sinh viên : @item.fullname
                                                    <form action="/User/Delete" method="post">
                                                        <input type="hidden" class="form-control" id="id" name="id" value="@item.id_user">
                                                        <div class="modal-footer" style="margin-top: 20px">
                                                            <button style="width:100px" type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">
                                                                Đóng
                                                            </button>
                                                            <button style="width:100px" type="submit" class="btn btn-danger"> Xóa</button>

                                                        </div>

                                                    </form>

                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            var idEx = "exampleModalLabel" + item.id_user;
                            <div class="modal fade" id="@idModelDes" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Thông tin sinh viên </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form enctype="multipart/form-data" action="/User/Update" method="post">
                                                <div class="col">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label for="category-film" class="col-form-label">Mã sinh viên :</label>
                                                            <input type="text" class="form-control" id="dienvien" value="SV_2022_@item.id_user" name="sdt" tabindex="2" readonly required>
                                                        </div>
                                                        <div class="col-6">
                                                            <label for="category-film" class="col-form-label">Ngành :<span style="color:red">* </span>:</label>
                                                            <input type="text" class="form-control" id="tenphim" name="hoten" value="@item.Majors.name" tabindex="1" readonly required maxlength="20">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label for="category-film" class="col-form-label">Họ và tên <span style="color:red">* </span>:</label>
                                                            <input type="text" class="form-control" id="tenphim" name="hoten" tabindex="1" value="@item.fullname" readonly required maxlength="20">
                                                        </div>
                                                        @if (item.gender == 0)
                                                        {
                                                            <div class="col-6">
                                                                <label for="category-film" class="col-form-label">Giới tính:</label>
                                                                <input type="text" class="form-control" id="dienvien" value="Nữ" name="sdt" tabindex="2" readonly required>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="col-6">
                                                                <label for="category-film" class="col-form-label">Giới tính:</label>
                                                                <input type="text" class="form-control" id="dienvien" value="Nam" name="sdt" tabindex="2" readonly required>
                                                            </div>
                                                        }

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label for="category-film" class="col-form-label">Lớp :</label>
                                                            <input type="text" class="form-control" id="dienvien" value="@item.grade" name="sdt" tabindex="2" readonly required>
                                                        </div>
                                                        <div class="col-6">
                                                            <label for="category-film" class="col-form-label">Địa chỉ<span style="color:red">* </span>:</label>
                                                            <input type="text" class="form-control" id="tenphim" name="hoten" value="@item.address" tabindex="1" readonly required maxlength="20">
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label for="category-film" class="col-form-label">Tài khoản :</label>
                                                            <input type="text" class="form-control" id="tenphim" name="username" tabindex="1" value="@item.username" readonly>
                                                        </div>

                                                        <div class="col-6">
                                                            <label for="category-film" class="col-form-label">Mật khẩu :</label>
                                                            <input type="text" class="form-control" id="tenphim" name="password" value="@item.password" tabindex="1" readonly>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label for="category-film" class="col-form-label">Nguồn tuyển :</label>
                                                            <input type="text" class="form-control" id="tenphim" name="nguontuyen" tabindex="1" value="@item.nguontuyen" readonly>
                                                        </div>

                                                        <div class="col-6">
                                                            <label for="category-film" class="col-form-label">Trường chuyển :</label>
                                                            <input type="text" class="form-control" id="tenphim" name="truongchuyen" value="@item.truongchuyen" tabindex="1" autofocus readonly>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label for="category-film" class="col-form-label">Dân tộc :</label>
                                                            <input type="text" class="form-control" id="tenphim" name="dantoc" tabindex="1" value="@item.dantoc" readonly>
                                                        </div>

                                                        <div class="col-6">
                                                            <label for="category-film" class="col-form-label">Tôn giáo :</label>
                                                            <input type="text" class="form-control" id="tenphim" name="tongiao" value="@item.tongiao" tabindex="1" autofocus readonly>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label for="category-film" class="col-form-label">Quốc tịch :</label>
                                                            <input type="text" class="form-control" id="tenphim" name="quoctinh" tabindex="1" value="@item.quoctinh" readonly>
                                                        </div>

                                                        <div class="col-6">
                                                            <label for="category-film" class="col-form-label">Số CMND :</label>
                                                            <input type="text" class="form-control" id="tenphim" name="cmnd" value="@item.cmnd" tabindex="1" autofocus readonly>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label for="category-film" class="col-form-label">Nơi cấp :</label>
                                                            <input type="text" class="form-control" id="tenphim" name="noicap" tabindex="1" value="@item.noicap" readonly>
                                                        </div>

                                                        <div class="col-6">
                                                            <label for="category-film" class="col-form-label">Ngày cấp :</label>
                                                            <input type="date" class="form-control" id="tenphim" name="ngaycap" value="@item.ngaycap" tabindex="1" autofocus readonly>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label for="category-film" class="col-form-label">Chiều cao :</label>
                                                            <input type="text" class="form-control" id="tenphim" name="chieucao" tabindex="1" value="@item.chieucao" readonly>
                                                        </div>

                                                        <div class="col-6">
                                                            <label for="category-film" class="col-form-label">Cân nặng :</label>
                                                            <input type="text" class="form-control" id="tenphim" name="cannang" value="@item.cannang" tabindex="1" autofocus readonly>
                                                        </div>

                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label for="category-film" class="col-form-label">Số năm bộ đội :</label>
                                                            <input type="text" class="form-control" id="tenphim" name="sonambodoi" tabindex="1" value="@item.sonambodoi" readonly>
                                                        </div>

                                                        <div class="col-6">
                                                            <label for="category-film" class="col-form-label">Số năm TNXP :</label>
                                                            <input type="text" class="form-control" id="tenphim" name="sonamtnxp" value="@item.sonamtnxp" tabindex="1" autofocus readonly>
                                                        </div>

                                                    </div>
                                                </div>


                                                <div class="modal-footer">
                                                    <button style="width:100px" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal Update-->
                            <div class="modal fade" id="@idEx" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Cập nhập </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <form enctype="multipart/form-data" action="/User/Update" method="post">
                                                <div class="col">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <input type="hidden" class="form-control" id="tenphim" name="id_role" tabindex="1" value="3">
                                                            <label for="category-film" class="col-form-label">User name: <span style="color:red">* </span>:</label>
                                                            <input type="text" class="form-control" id="tenphim" name="username" tabindex="1" value="@item.username" readonly autofocus required>
                                                        </div>
                                                        <div class="col-6">
                                                            <label for="category-film" class="col-form-label">Password: <span style="color:red">* </span>:</label>
                                                            <input type="password" class="form-control" id="dienvien" name="password" value="@item.password" tabindex="2" required>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label for="category-film" class="col-form-label">Full name: <span style="color:red">* </span>:</label>
                                                            <input type="text" class="form-control" id="daodien" name="fullname" value="@item.fullname" tabindex="3" required>
                                                        </div>
                                                        <div class="col-6">
                                                            <label for="category-film" class="col-form-label">Địa chỉ: <span style="color:red">* </span>:</label>
                                                            <input type="text" class="form-control" id="daodien" name="address" value="@item.address" tabindex="3" required>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6 ">
                                                            <label for="category-film" class="col-form-label">Lớp: <span style="color:red">* </span>:</label>
                                                            <select class="form-select" aria-label="Default select example" id="theloai" tabindex="8" name="grade" required>
                                                                <option value="@item.grade" selected>@item.grade</option>
                                                                <option value="Xác suất thống kê">Xác suất thống kê</option>
                                                                <option value="Lập trình web">Lập trình web</option>
                                                                <option value="Tin học đại cương">Tin học đại cương</option>
                                                                <option value="Lập trình android">Lập trình android</option>
                                                                <option value="Mạng máy tính">Mạng máy tính</option>
                                                                <option value="Thể dục thể chất">Thể dục thể chất</option>
                                                                <option value="Toán cao cấp">Toán cao cấp</option>
                                                                <option value="Toán rời rạc">Toán rời rạc</option>
                                                                <option value="Kinh tế vĩ mô">Kinh tế vĩ mô</option>
                                                                <option value="Đường lối cách mạng Mac-lenin 1">Đường lối cách mạng Mac-lenin 1</option>
                                                                <option value="Đường lối cách mạng Mac-lenin 2">Đường lối cách mạng Mac-lenin 2</option>
                                                                <option value="Tư tưởng Hồ Chí Minh">Tư tưởng Hồ Chí Minh</option>
                                                                <option value="Đường lối cách mạng">Đường lối cách mạng</option>
                                                                <option value="Kĩ năng mềm">Kĩ năng mềm</option>
                                                                <option value="Kinh tế chính trị">Kinh tế chính trị</option>
                                                                <option value="Tiếng anh chuyên ngành">Tiếng anh chuyên ngành</option>
                                                                <option value="Tiếng anh 1">Tiếng anh 1</option>
                                                                <option value="Tiếng anh 2">Tiếng anh 2</option>
                                                                <option value="Tiếng anh 3">Tiếng anh 3</option>
                                                            </select>
                                                            <input type="hidden" class="form-control" id="daodien" value="@item.id_user" name="id" tabindex="3" required>
                                                        </div>
                                                        <div class="col-6 mt-3 ">
                                                            <label for="exampleFormControlFile1">Giới tính <span style="color:red">* </span>:</label>
                                                            <select class="form-select" aria-label="Default select example" id="theloai" tabindex="8" name="gender" required>
                                                                @if (item.gender == 1)
                                                                {
                                                                    <option value="@item.gender" selected>Nam</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@item.gender" selected>Nữ</option>
                                                                }
                                                                @if (item.gender == 1)
                                                                {
                                                                    <option value="0" selected>Nữ</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="1" selected>Nam</option>
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row">

                                                        <div class="col-6 mt-3 ">
                                                            <label for="exampleFormControlFile1">Chọn ngành:<span style="color:red">* </span>:</label>
                                                            <select class="form-select" aria-label="Default select example" id="id_major" tabindex="8" name="id_major" required>
                                                                <option value="@item.id_major" selected>@item.Majors.name</option>
                                                                @foreach (var item1 in ViewBag.listMajor)
                                                                {
                                                                    if (item.id_major != item1.id_major)
                                                                    {
                                                                        <option value="@item1.id_major">@item1.name</option>
                                                                    }

                                                                }
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>


                                                <div class="modal-footer">
                                                    <button style="width:100px" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                                    <button style="width:100px" type="submit" class="btn btn-primary">Lưu </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- Modal Update-->
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</main>
<!-- Modal Add-->
<div class="modal fade" id="exampleModalAdd" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" action="/User/Add" method="post">
                    <div class="col">
                        <div class="row">
                            <div class="col-6">
                                <input type="hidden" class="form-control" id="tenphim" name="id_role" tabindex="1" value="3">
                                <label for="category-film" class="col-form-label">User name: <span style="color:red">* </span>:</label>
                                <input type="text" class="form-control" id="tenphim" name="username" tabindex="1" autofocus required>
                            </div>
                            <div class="col-6">
                                <label for="category-film" class="col-form-label">Password: <span style="color:red">* </span>:</label>
                                <input type="password" class="form-control" id="dienvien" name="password" tabindex="2" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label for="category-film" class="col-form-label">Full name: <span style="color:red">* </span>:</label>
                                <input type="text" class="form-control" id="daodien" name="fullname" tabindex="3" required>
                            </div>
                            <div class="col-6">
                                <label for="category-film" class="col-form-label">Địa chỉ: <span style="color:red">* </span>:</label>
                                <input type="text" class="form-control" id="daodien" name="address" tabindex="3" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 ">
                                <label for="category-film" class="col-form-label">Lớp: <span style="color:red">* </span>:</label>
                                <select class="form-select" aria-label="Default select example" id="theloai" tabindex="8" name="grade" required>
                                    <option value="" selected>Chọn lớp</option>
                                    <option value="Xác suất thống kê">Xác suất thống kê</option>
                                    <option value="Lập trình web">Lập trình web</option>
                                    <option value="Tin học đại cương">Tin học đại cương</option>
                                    <option value="Lập trình android">Lập trình android</option>
                                    <option value="Mạng máy tính">Mạng máy tính</option>
                                    <option value="Thể dục thể chất">Thể dục thể chất</option>
                                    <option value="Toán cao cấp">Toán cao cấp</option>
                                    <option value="Toán rời rạc">Toán rời rạc</option>
                                    <option value="Kinh tế vĩ mô">Kinh tế vĩ mô</option>
                                    <option value="Đường lối cách mạng Mac-lenin 1">Đường lối cách mạng Mac-lenin 1</option>
                                    <option value="Đường lối cách mạng Mac-lenin 2">Đường lối cách mạng Mac-lenin 2</option>
                                    <option value="Tư tưởng Hồ Chí Minh">Tư tưởng Hồ Chí Minh</option>
                                    <option value="Đường lối cách mạng">Đường lối cách mạng</option>
                                    <option value="Kĩ năng mềm">Kĩ năng mềm</option>
                                    <option value="Kinh tế chính trị">Kinh tế chính trị</option>
                                    <option value="Tiếng anh chuyên ngành">Tiếng anh chuyên ngành</option>
                                    <option value="Tiếng anh 1">Tiếng anh 1</option>
                                    <option value="Tiếng anh 2">Tiếng anh 2</option>
                                    <option value="Tiếng anh 3">Tiếng anh 3</option>
                                </select>
                            </div>
                            <div class="col-6 mt-3 ">
                                <label for="exampleFormControlFile1">Giới tính <span style="color:red">* </span>:</label>
                                <select class="form-select" aria-label="Default select example" id="theloai" tabindex="8" name="gender" required>
                                    <option value="" selected>Chọn giới tính</option>
                                    <option value="1">Nam</option>
                                    <option value="0">Nữ</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            
                            <div class="col-6 mt-3 ">
                                <label for="exampleFormControlFile1">Chọn ngành:<span style="color:red">* </span>:</label>
                                <select class="form-select" aria-label="Default select example" id="id_major" tabindex="8" name="id_major" required>
                                    <option value="" selected>Chọn nghành</option>
                                    @foreach (var item in ViewBag.listMajor)
                                    {
                                        <option value="@item.id_major">@item.name</option>
                                    }
                                </select>
                            </div>
                        </div>

                    </div>


                    <div class="modal-footer">
                        <button style="width:100px" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        <button style="width:100px" type="submit" class="btn btn-primary">Lưu </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

